body {
    width: 100%;
    font-family: sans-serif, Segoe UI;
    font-size: 1em;
    line-height: 1.5em;
    background-color: #EAEDEE;
    padding: 2em;
}



header {
    background-color: white;
}

nav:first-of-type {
    background-color: white;
}


header:first-of-type li {
    font-size: 1em;
    color: gray;
    display: inline;
}

header a {
    color: grey;
    text-decoration: none;
    padding: 3em;
}

ul {
    list-style: none;
}


.logoheader {
    vertical-align: top;
    width: 10em;
    height: 10em;
    display: inline;
}

a:hover {
    color: #1F4C9C;
}


[type=search] {
    background: white;
    margin: 3em;
    width: 20em;

}

.zoekbutton {
    background-color: #E88B3C;
    display: inline;
}

.banner {
    background-image: url(images/beach-beach-chair-daylight-556961%20kopie.jpg);
    background-size: cover;
    position: relative;
}

h1 {
    font-size: 2em;
    color: black;
    padding: 3em;


}

h1::before {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    height: 100%;
    top: 0;
    width: 14em;
    clip-path: polygon(58% 0, 100% 0%, 100% 100%, 0% 100%);
    background-color: #E88B3C;
    opacity: 0.8;

}


h2 {
    font-size: 2em;
    color: white;
    background-color: #A93635;
    padding: 3em;
    opacity: 0.9;
}


button {
    text-decoration: none;
    color: white;
    font-family: sans-serif, Archive;
    font-size: 1.5em;
    display: inline;
    background-color: #F3A83B;
    text-align: center;
}

p {
    font-size: 1em;
    background-color: white;
}



article {
    background-color: white;
    display: grid;
    grid-template-columns: 20em;
    grid-gap: 2em;
}


@media (max-width: 28em) {
    article {
        width: 17em;
    }
}
