html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    font-family: "Segoe UI", "Lucida Grande", "Helvetica Neue", Arial, sans-serif;
    background-color: #EAEDEE;
    margin: auto;
    margin-top: 1em;
    padding: auto;
}


nav {
    background-color: white;
    padding-bottom: 2em;
}

nav img {
    width: 10%;
    margin-left: 4em;
}


nav li {
    display: inline;
}


li img:nth-child(1) {
    display: inline;
    margin-left: -2.1em;
    height: 6%;
    width: 4%;
}


.icoon {
    display: none;

}


.icoon.active {
    display: inline;
}


li a {
    color: grey;
    display: inline;
    text-decoration: none;
    padding: 1em;
    font-size: 1.2em;
    list-style: none;

}


li a:hover {
    color: #1F4C9C;
}


form {
    max-width: 20em;
    margin: 2em auto;
    padding: 2em;
    background-color: white;
    font-family: "Segoe UI", "Lucida Grande", "Helvetica Neue", Arial, sans-serif;
}

form:nth-child(1) {
    background-color: white;
    padding-bottom: .1em;
    padding-right: .2em;
}

form:nth-child(2) {
    padding-bottom: .9em;
    display: flex;
}

[type=submit]:nth-child(2) {
    display: inline;
    margin: auto;
    margin-left: 1em;
}

fieldset {
    margin-bottom: 2em;
    border: none;
}

legend {
    display: block;
    margin-bottom: .3em;
    font-size: 2em;
    font-weight: bold;
    font-family: "DFDS-Bold", "Segoe UI", "Lucida Grande", "Helvetica Neue", Arial, sans-serif;
}

label {
    display: inline;
    font-size: 1.2em;
}


[type=range] {
    width: 100%;
}

output {
    word-spacing: 30px;
}

input[type=checkbox] {
    margin: 0 4px 8px 0;
    display: inline;
}

input[type=text] {
    font-size: 1.2em;
    height: auto;
    margin: 0;
    outline: 0;
    padding: .2em;
    background-color: grey;
    box-shadow: 0;
    margin-bottom: .1em;
    width: 100%;
    padding: .35em .5em;
    border: 1px solid #ccc;
    border-radius: 2px;
    background: #fcfcfc;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, .05);
}

input[type=text]:focus {
    box-shadow: 0 0 5px blue rgba (81, 203, 238, 1);
    border: 1px solid blue rgba (81, 203, 238, 1);
}

@media screen and (min-width: 550px) {
    form {
        max-width: 375px;
    }
}




button[type=submit] {
    margin-top: 1em;
    color: white;
    height: 2em;
    font-family: "Segoe UI", "Lucida Grande", "Helvetica Neue", Arial, sans-serif;
    font-size: 1em;
    font-weight: 550;
    text-align: center;
    background-color: #E78B3B;
    display: block;
}

@media (max-width: 24em) {
    button[type=submit] {
        font-size: .7em;

    }
}



button:hover,
button:focus {
    background-color: whitesmoke;
    color: #204F80;
    text-align: center;
    font-weight: 550;
}

button:focus {
    outline: 1px solid #204F80;
    outline-offset: -1px;
}

button:active {
    transform: scale(0.98);
}

button::after {
    content: "";
    font-family: icomoon;
    vertical-align: middle;
    display: inline;
    margin-left: 1.2em;

}



[type=text] {
    display: inline-flex;
    flex-flow: column;
    background-color: white;
    width: 50em;
    height: 2em;
    margin-top: 2em;
    margin-right: 2em;

}




/* clipping path not supported in safari or firefox. */

.banner::after {
    content: "";
    position: absolute;
    right: 0;
    height: 100%;
    top: 0;
    width: 45%;
    -webkit-clip-path: polygon (75% 0%, 100% 0%, 100% 100%, 9% 100%);
    clip-path: polygon(75% 0%, 100% 0%, 100% 100%, 9% 100%);
    opacity: 0.87;
    background: #E78B3B;
    z-index: 0;
}



/* Media queries om het clipping path zo neer te zetten dat het niet in de weg komt van de ander formulieren, responsive tot en met iphone 5s.  */

@media (max-width: 75em) {
    .banner::after {
        content: "";
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        padding-top: 9em;
        -webkit-clip-path: inset(61% 0% 17.8% 0%);
        clip-path: inset(68% 0% 14.8% 0%);

    }
}

@media (max-width: 36em) {
    .banner::after {
        content: "";
        top: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        padding-top: 8.2em;
        -webkit-clip-path: inset(69% 0% 16% 0%);
        clip-path: inset(69% 0% 16% 0%);
        background-color: #E78B3B;

    }
}

@media (max-width: 23em) {
    .banner::after {
        content: "";
        top: 0;
        bottom: 0;
        top: 0;
        position: absolute;
        padding-top: 8.2em;
        -webkit-clip-path: inset(68% 0% 14.1% 0%);
        clip-path: inset(68% 0% 14.1% 0%);
        background-color: red;

    }
}


.banner {
    background-image: url(images/beach-beach-chair-daylight-556961%20kopie.jpg);
    background-size: cover;
    position: relative;
    background-color: #1E2B34;
    background-blend-mode: screen;
    border-right: 4em solid #EAECEE;
    border-left: 4em solid #EAECEE;

}

@media (max-width: 29em) {
    .banner {
        border-right: 1em solid #EAECEE;
        border-left: 1em solid #EAECEE;

    }
}

@media only screen and (max-width: 1024px) {
    .banner {
        border-right: 1em solid #EAECEE;
        border-left: 1em solid #EAECEE;
        ;

    }
}

.banner * {
    z-index: 10;
    position: relative;

}

main {
    border-right: 4em solid #EAECEE;
    border-left: 4em solid #EAECEE;

}

@media (max-width: 30em) {
    main {
        border-right: 1em solid #EAECEE;
        border-left: 1em solid #EAECEE;
    }
}

@media only screen and (max-width: 1024px) {
    main {
        border-right: 1em solid #EAECEE;
        border-left: 1em solid #EAECEE;
        ;

    }
}




h1 {
    font-size: 2.4em;
    font-family: DFDS-Bold, sans-serif;
    font-weight: 700;
    text-align: right;
    line-height: 1.01;
    color: white;
    text-transform: uppercase;
    padding-right: 2em;
}

h1,
span {
    display: block;
}



h1 > span::before {
    content: attr(data-text);
    background: #E78B3B;
    opacity: .10;
    display: block;
    z-index: 20;

}


@media (max-width: 75em) {
    h1 {
        text-align: center;
        margin: auto;
        font-family: DFDS-Bold, sans-serif;
        padding-top: 2em;
        font-weight: 700;
        line-height: 1em;
    }
}

@media (max-width: 28em) {
    h1 {
        margin: 1em;
        margin-right: 1em;
        font-size: 1.6em;
        font-weight: 900;
        text-align: center;
    }
}

@media (max-width: 22em) {
    h1 span {
        text-align: left;
    }
}

h2 {
    font-size: 2em;
    font-family: DFDS-Bold, sans-serif;
    color: white;
    background-color: #8E4641;
    padding: 2em;
    margin: auto;
    margin-top: .4em;
}




section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: auto;

}

/*
@media (max-width: 95.9375em) {
    article {}
}
*/

article {
    display: block;
    min-width: 19.8em;
    max-width: 18em;
    padding: 2em;
    margin: auto;
}




@media (max-width: 28em) {
    article {
        min-width: 20em;
        padding: .1em;
        margin: .1em;
    }
}


p {
    font-size: 1.1em;
    background-color: white;
    padding: 1.1em;
    padding-bottom: 3em;
}


img:nth-child(2) {
    width: 100%;
    height: 100%;
    z-index: -10;
    position: absolute;
    margin-top: -15.5em;
    background-color: white;
}



figure {
    height: 18em;
    margin: auto;
    position: relative;
    margin-bottom: -1em;
    width: 21em;
    z-index: 20;

}

@media (max-width 35em) {
    figure {
        width: 70em;

    }
}

figure * {
    z-index: 10;
    position: relative;

}

figure::after {
    content: "";
    position: absolute;
    right: 0;
    height: 100%;
    top: 0;
    width: 100%;
    -webkit-clip-path: polygon (65% 0%, 100% 0%, 100% 100%, 309% 100%);
    clip-path: polygon(65% 0%, 100% 0%, 100% 100%, 30% 100%);
    opacity: 0.7;
    background: #36214B;
    z-index: 0;
}


@media (max-width: 23em) {
    figure {
        height: 17em;
        margin: auto;
        position: relative;
        margin-bottom: -1em;
        width: 17em;
    }
}

@media (max-width: 23em) {
    figure::after {
        content: "";
        -webkit-clip-path: inset(53% 0% 2% 0%);
        clip-path: inset(53% 0% 2% 0%);
        background-color: #36214B;
        width: 100%;

    }
}

@media (max-width: 23em) {
    p {
        width: auto;

    }
}

figure:hover {
    opacity: .95;
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}


[type=image] {
    margin-top: 1em;
    padding: 10em;
    display: block;
    height: 10%;
    width: 10%;
    position: relative;
    z-index: 0;
}



#loadingProgressG {
    display: none;
    margin-top: 5em;
    width: 243px;
    height: 19px;
    overflow: hidden;
    background-color: rgb(234, 236, 238, 1);
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
}

#loadingProgressG.active {
    display: inline-block;
    margin-top: 5em;
    width: 250px;
    height: 19px;
    overflow: hidden;
}


#loadingProgressG_1 {
    background-color: rgba(99, 202, 64, 1);
    margin-top: 0;
    animation-name: bounce_loadingProgressG;
    -webkit-animation-name: bounce_loadingProgressG;
    -moz-animation-name: bounce_loadingProgressG;
    animation-duration: 6.2s;
    -webkit-animation-duration: 6.2s;
    -moz-animation-duration: 6.2s;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: linear;
    width: 249px;
    height: 18px;
    border-top: .1px solid grey;
    border-bottom: .2px solid grey;
    border-right: .2px solid grey;
}



@keyframes bounce_loadingProgressG {
    0% {
        margin-left: -245px;
    }

    100% {
        margin-right: 250px;
    }
}

svg {
    display: block;
    position: absolute;
    margin-left: 12em;
    margin-top: 1em;
    height: 5%;
    width: 5%;
    transition: all 0.01s;
    z-index: 20;
}


@media (max-width: 24em) {
    svg {
        margin-left: 13.8em;
        height: 7%;
        width: 7%;

    }
}


@media (max-width: 204em) {
    svg {
        margin-left: 11em;
        height: 5%;
    }
}

svg.active {
    transform: translate(0, -360px);
    transform: translate(55px, -380px);
    fill: white;
}

.download {
    margin-left: 8em;
    margin-top: 1em;
    position: absolute;
    display: block;
}

@media and screen (min-width 385px) {

    .download {
        margin-left: 2em;
    }
}


svg:hover {
    fill: orange;
    transform: translate(0, -10px)
}

/*
svg:hover {
    transform: translate(0, -360px);
    -webkit-transform: translate(0, -360px);
    -o-transform: translate(0, -360px);
    -moz-transform: translate(0, -360px);
    transition: 2s cubic-bezier(.17, .67, .83, .67);
    transition-delay: .1s;
}
*/

h3 {
    text-align: right;
    color: white;
    padding-top: 8em;
    font-size: 1.5em;
    padding-right: .4em;
    z-index: 40;
}


a {
    z-index: 50;
    text-decoration: none;
}

h4 {
    font-size: 2em;
    font-family: DFDS-Bold, sans-serif;
    color: white;
    background-color: #8E4641;
    padding: 2em;
    margin: auto;
    margin-top: .4em;

}

footer p {
    margin-top: -1em;
    padding-bottom: 1em;

}

body main footer a {
    display: block;
    text-decoration: none;
    color: #204F80;
    font-size: 1.4em;
    padding: .1em;
    background-color: white;
    text-align: center;


}


section footer:nth-child(1) {
    background-color: #005184;
    bottom: 0;
    width: 100%;
    background-color: #005184;
    margin-top: 15em;
    padding-top: 2em;
    padding-bottom: 2em;
}

section footer:nth-child(1) ul {
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0;
    display: block;
    list-style-type: disc;
    margin-left: 2em;
}

section footer:nth-child(1) li {
    list-style: none;
    font-size: 1em;
    color: #fff;
}
