/* label {
    display: block;
}

@media (min-width: 30em) {}
*/

body {
    margin: 0 auto;
    width: 1027px;
    font-family: sans-serif, Segoe UI;
    font-size: 1vw;
    border: 1px;
    background-color: #EAEDEE;
}


.navigation {
    width: 100%;
    height: 80px;
    background-color: white;
}

.logoheader {
    vertical-align: top;
    width: 90px;
    height: 90px;
    margin-right: 20px;
    margin-top: 15px;
    padding-left: 0px;
}

.navigation > a {
    display: inline-block;
    vertical-align: left;
    margin-right: 20px;
    height: 80px;
    line-height: 80px;
}

.zoekbutton {
    background-color: #1E5180;
}

.zoek {
    margin-top: 40px;
}


li,
a {
    display: inline;
    text-decoration: none;
    font-family: sans-serif, Archive;
    color: black;
    padding: 2em;
}

a:hover {
    color: #0C2B42;
}



h1 {
    font-family: sans-serif, Archive;
    font-size: 2vw;
}

h2 {
    font-size: 2vw;

}

button {
    text-decoration: none;
    color: white;
    font-family: sans-serif, Archive;
    font-size: 2vm;
    display: inline-block;
    padding: .5em;
    background-color: #F3A83B;
    text-align: center;
}

p {
    font-size: 1vw;
}

form {
    width: : 80%;
    margin: 0 auto;
}

section,
article {
    display: block;
}

img {
    width: 20%;
    width: calc(50% + 2em);
    margin: 0 em;
}
