body {

    font-family: "Segoe UI", "Lucida Grande", "Helvetica Neue", Arial, sans-serif;
    background-color: #EAEDEE;
    margin: auto;
    margin-top: 1em;
}



main {
    margin: auto;
}


nav {
    background-color: white;
}


nav li {
    display: inline-flex;

}



li a {
    color: grey;
    text-decoration: none;
    padding-bottom: 2em;
    font-size: 1.2em;
    list-style: none;
}


img:first-child {
    float: top;
    width: 100px;
    height: 100px;
    padding-left: 70px;
}

a:hover {
    color: #1F4C9C;
}

h1 {
    text-align: center;
}


form {
    max-width: 28em;
    margin: 1em auto;
    padding: 2em;
    background-color: white;
    font-family: "Segoe UI", "Lucida Grande", "Helvetica Neue", Arial, sans-serif;
}

fieldset {
    margin-bottom: 2em;
    border: none;
}

legend {
    display: block;
    margin-bottom: .3em;
}

label {
    display: inline;
}


input[type=text],
input[type=email],
input[type=password] {

    font-size: 1.2em;
    height: auto;
    margin: 0;
    outline: 0;
    padding: .2em;
    background-color: grey;
    box-shadow: 0;
    margin-bottom: .1em;
    width: 100%;
    padding: .35em .5em;
    border: 1px solid #ccc;
    border-radius: 2px;
    background: #fcfcfc;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, .05);
}

input[type=text]:hover {
    box-shadow: 0 0 5px rgba (81, 203, 238, 1);
    border: 1px solid rgba (81, 203, 238, 1);
}

@media screen and (min-width: 550px) {
    form {
        max-width: 375px;
    }
}




button[type=submit] {
    margin-top: 1em;
    height: 2em;
    margin-left: .6em;
    font-family: DFDS-bold, "Segoe UI", "Lucida Grande", "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
    font-size: 1.1em;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: .4em .5em;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .05);
    text-align: center;
    display: inline-block;
    background-color: #f6861f;
    color: #fff;
    border-color: #b86c26;

}

button:hover,
button:focus {
    background-color: whitesmoke;
    color: #204F80;
    text-align: center;
}

button:focus {
    outline: 1px solid #204F80;
    outline-offset: -1px;
}

button:active {
    transform: scale(0.98);
}


p {
    font-size: .9em;
    font-family: "Segoe UI", "Lucida Grande", "Helvetica Neue", Arial, sans-serif;
}


footer {
    background-color: #005184;
    bottom: 0;
    width: 100%;
    background-color: #005184;
    margin-top: 15em;
    padding-top: 2em;
    padding-bottom: 2em;
}




footer ul {
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0;
    display: block;
    list-style-type: disc;
    margin-left: 2em;
}

footer li {
    list-style: none;
    font-size: 1em;
    color: #fff;
}
